.order-content-notice {
  margin-bottom: 16px;
}

.order-content-notice-description {
  display: flex;
  align-items: center;
  gap: 8px;
}

.order-content-freshness {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

@media (max-width: 1023px) {
  .order-content-notice-description {
    align-items: flex-start;
    flex-direction: column;
  }
}
