.confirm-page-container {
  width: 100%;
  max-width: 720px;
  min-height: 80vh;
  margin: 0 auto;
  padding: 24px 16px;
}

.confirm-page-title {
  margin-bottom: 24px;
  color: #262626;
  font-size: 20px;
  font-weight: 600;
}
